.header__button {
    margin: 6px 0 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF
}

.header__button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .header__button {
        font-size: 14px;
        line-height: 17px;
    }
}