.sign__input {
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    padding: 0 0 9px 0;
    width:358px;
    border-bottom: 2px solid #ccc;
}


.sign__input::placeholder {
    color: #CCC;
    font-weight: 400;
}

.sign__input:focus {
    outline: none;
}

@media screen and (max-width: 700px) {
    .sign__input {
        width: 260px;
    }
}