.profile__edit-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: #000;
    border: 1px solid #FFF;
    background-image: url(../../../images/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    box-sizing: border-box;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        top: 10px;
        right: 19px;
        width: 18px;
        height: 18px;
        background-size: 5.25px 5.25px;
    }
}