.header__logo {
    margin: 0;
    display: block;
    padding: 0;
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        padding-left: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding: 27px 0 31px 30px;
    }
}